@model OrderSystem.Models.Items

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Item</legend>
    <table>
    <tr><td>Item Name:</td><td>@Html.DisplayFor(model => model.ItemName)</td></tr>
    <tr><td>Item Description:</td><td>@Html.DisplayFor(model => model.ItemDescriprion)</td></tr>
    <tr><td>Price:</td><td>@Html.DisplayFor(model => model.Price)</td></tr>
    <tr><td>Quantity:</td><td>@Html.DisplayFor(model => model.Quantity)</td></tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
