@model OrderSystem.Controllers.ViewModel 
@{
    ViewBag.Title = "Analysing orders";

    bool empty = Model.OrderInfo == null ? true : false;

    WebGrid itemsGrid = new WebGrid
    (
       Model.OrderedItems,
       canPage: true,
       canSort: true,
       rowsPerPage: 5
    );
}
@using (Html.BeginForm())
{
    <p>
        This page is appointed for analysing costumer orders and perform ordering
    </p>
    <fieldset>
        <legend align="left" style="font-weight: bold">Items Selection </legend>
        <div align="right">
            <select id="RowsPerPage">
                <option>show 5 lines </option>
                <option>show 10 lines </option>
                <option>show 20 lines</option>
            </select>
        </div>
        <div align="center">
            <p>
                @itemsGrid.GetHtml(columns: itemsGrid.Columns(
                                itemsGrid.Column("ItemNumber", "Item Number"),
                                itemsGrid.Column("ItemName", "Item Name"),
                                itemsGrid.Column("ItemDescription", "Item Description"),
                                itemsGrid.Column("Dimension"),
                                itemsGrid.Column("Price"),
                                itemsGrid.Column("Quantity"),
                                itemsGrid.Column("PricePerLine", "Price per Line")
                              ),
                              tableStyle: "webgrid",
                              headerStyle: "webgrid-header",
                              footerStyle: "webgrid-footer",
                              alternatingRowStyle: "webgrid-alternating-row",
                              selectedRowStyle: "webgrid-selected-row",
                              rowStyle: "webgrid-row-style"
                             )
            </p>
        </div>
    </fieldset>
    <fieldset>
        <legend align="left" style="font-weight: bold;">Totals </legend>
        <table cellspacing="20" align="left">
            <tr>
                <td>
                    Costumer Name:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.CustomerName)
                </td>
            </tr>
            <tr>
                <td>
                    Costumer Type:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.CustomerType)
                </td>
            </tr>
            <tr>
                <td>
                    Order Number:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.OrderNumber.ToString())
                </td>
            </tr>
            <tr>
                <td>
                    Total Price:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.TotalPrice.ToString())
                </td>
            </tr>
            <tr>
                <td>
                    Total Number of Items:
                </td>
            </tr>
            <tr>
                <td>
                    Assignee:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.Assignee)
                </td>
            </tr>
            <tr>
                <td>
                    Date of Ordering:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.DateOfOrdering.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>
                    Preferable Delivery Date:
                </td>
                <td>
                    @Html.Label(empty ? "" : Model.OrderInfo.PreferableDeliveryDate.ToString())
                </td>
            </tr>
        </table>
        <table cellspacing="20" align="right">
            <tr>
                <td>
                    <u>Status: </u>
                </td>
                <td>
                    <input id="Ordered" name="Ordered" value="true" type="checkbox" />
                    Ordered
                    <input id="Delivered" name="Delivered" value="true" type="checkbox" />
                    Delivered
                </td>
            </tr>
            <tr>
                <td>
                    <u>Delivery Date: </u>
                </td>
                <td>
                    <input id="Date" name="DeliveryDate" type="text" value="@DateTime.Today.ToShortDateString()" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input id="Gift" name="Gift" value="true" type="checkbox" />
                    Gift
                </td>
            </tr>
        </table>
    </fieldset>
    <div align="right">
        <input id="Save" type="submit" value="Save" onclick="checkEnableSubmit(@ViewBag.Bool)" />
        <input id="Order" type="submit" value="Order" />
        <input id="Cancel" type="submit" value="Cancel" />
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Date').datepicker({ firstDay: 1, dateFormat: 'dd.mm.yy' });
            $('.datePicker').datepicker({ firstDay: 1, dateFormat: 'dd.mm.yy' });
        });
    </script>
}