@using OrderSystem.Models
@model OrderSystem.Models.Users
@{
    ViewBag.Title = "User Info";
    NextRankInfo info = new NextRankInfo();
    info = ViewBag.NextRankInfo;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <div class="display-label">User Name: @Html.DisplayFor(model => model.UserFName)</div>
    <div class="display-label">Role: @Html.DisplayFor(model => model.Role)</div>
    <div class="display-label">Rank: @Html.DisplayFor(model => model.Rank1.RankName)</div>
    <div class="display-label">Balance: @Html.DisplayFor(model => model.Balance)</div>
</fieldset>
<fieldset>
    <br />
    <br />
    <br />
    <br />
    <div class="display-label">* Need to spend @info.MoneyToNextRank$ to become a @info.NextRankName customer</div>
</fieldset>